 <ion-view title='<img src="img/logo.png" style="width:113.75px; height:32.5px; margin-top:5px;" class="nav-image"/>' hide-back-button="true">
 <ion-nav-bar class="bar-assertive"> </ion-nav-bar>
 <ion-content style="background-color:#DDD;" ng-controller="ScrollCtrl">
  <img ng-src="img/scroll.png" style="z-index:-100; position:absolute; margin-left:7px; margin-top:30px; width:360px; height:515px;"/>
  <div id="scroll">
    <h1 style="font-size:50px;">Lange Wapper</h1>
    <p style="text-align: justify; text-justify: inter-word; font-size:23px;">
Once upon a time, a drunk left the Goddaert inn in Antwerp. He heard heavy steps behind him and saw a man walking the same path as he was. He stood still, and so did the man. He started running and so did the man. He ran faster, and barely made it to his home. Luckily, the lock on his house was drunk-proof. Terrified, the drunk crawled in his bed, when suddenly Lange Wapper appeared in front of his bedroom window, as tall as a giant and tapped on the window while whispering: If it happens again, I will snap your neck!”.
    </p>
  </div>
  <button id="button" class="continueBtn button button-block button-assertive" ui-sref="tab.map"><i style="color:#cb1341" class="ion-chevron-right"></i><i style="color:#cb1341" class="ion-chevron-right"></i></button>
 </ion-content>
 </ion-view>